@function em($target, $context) {
  @return $target / $context * 1em;
}

html {
  font-size: 16px;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.5;

  @media (min-width: 600px) {
    font-size: 18px;
  }

  @media (min-width: 800px) {
    font-size: 22px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

body {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3.157em;
  margin-bottom: em(1.5, 3.157); // results in 0.44346em or 1 baseline
}

h2 {
  font-size: 2.369em;
  margin-bottom: em(1.5, 2.369);
}

h3 {
  font-size: 1.777em;
  margin-bottom: em(1.5, 1.777);
}
