html {
  font-size: 16px;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.5; }
  @media (min-width: 600px) {
    html {
      font-size: 18px; } }
  @media (min-width: 800px) {
    html {
      font-size: 22px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 24px; } }

body {
  width: 30em;
  margin-left: auto;
  margin-right: auto; }

h1 {
  font-size: 3.157em;
  margin-bottom: 0.47513em; }

h2 {
  font-size: 2.369em;
  margin-bottom: 0.63318em; }

h3 {
  font-size: 1.777em;
  margin-bottom: 0.84412em; }
